<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>


<head>

<%= stylesheet_link_tag 'main' %>

</head>
<body>
<div class="wrapper">

<div id="headerContainer">
	<div id="header">
		<%= image_tag 'logo.png' %>

		<div id="nav">
			<a href=#>About</a> <a href=#>Services</a> <a href=#>Contact</a><%=link_to "Register", :controller => "sign_up", :action => "new" %>
		</div>

	</div>
</div>


<div id="contentContainer">

	<div id="oneColumn">
	<%= image_tag 'onecolumn_top.png' %>

		<div id="content">

			<%= yield %>

		</div>

	<%= image_tag 'onecolumn_bottom.png' %>
	</div>




</div>

<div class="push"></div>

</div>

<div id="footerContainer">

	<div id="footer">
        <p>Copyright (c) 2008</p>
    </div>
</div>



</body>


</html>